@page "/login" 

@using CheckNoteNet5.Shared.Services
@using CheckNoteNet5.Shared.Models.Inputs
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<EditForm Model="@credentials" OnValidSubmit="@Login">
    <InputText @bind-Value="@credentials.Email" type="email" />
    <InputText @bind-Value="@credentials.Password" type="password" />
    <button type="submit">Login</button>
</EditForm>

@code
{
    private LoginInput credentials = new LoginInput { Email = "admin@admin.com", Password = "admin" };

    private async Task Login()
    {
        var result = await AuthService.Login(credentials);

        if (result.IsOk) NavigationManager.NavigateTo("/");
    }
}
