@page "/fetchdata/{id:int}"
@using CheckNoteNet5.Shared.Services
@using System.Text.Json
@inject INoteService NoteService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@code 
{ 
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await NoteService.Get(Id);

        Console.WriteLine("status");
        Console.WriteLine(result.StatusCode);
        string value = JsonSerializer.Serialize(result.GetValue());
        Console.WriteLine(value);
    }
}
