@page "/fetchdata/{id:int}"
@using CheckNoteNet5.Shared.Models
@using CheckNoteNet5.Shared.Services
@inject INoteService NoteService

<p @ref="testReference"></p>

@code
{
    [Parameter]
    public int Id { get; set; }
    private string flash;
    ElementReference testReference;

    // try setting a flag or smth because it really does fire twice without a fucking reason
    protected override async Task OnInitializedAsync()
    {
        // i need to call some function that manually updates html content and not rely on a property
        await Task.Delay(3000);
    }

    private async void Add()
    {
        //var result = await NoteService.Add(addNote);

        //if (result.IsOk) addedTitle = result.Value.Title;
    }
}
